body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
main{
    width: 100%;
    margin: 0%;
}

header{

    background-color: #BBBBBB ;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute; 
    top: 110px;
    right: 0;
}

nav li{

    display: inline;
    margin: 0 0 0 15px;
}

nav a{

    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#C62828 ;
    text-decoration:underline;
    
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    
    margin: 40px 0;
}
form h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

form label,form legend{
    display: block;
    font-size: 20px;    
    margin: 0 0 10px;
}

.input_padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: orangered;
    border-radius: 10px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: blue;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
    width: 30%;
}

thead{
    background:#555555 ;
    color: #ffffff;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

.formulario2{
    width: 1080;
    height: 500px;
    margin-top: 30px;
   
    border-radius: 30px;
   

}

@media screen and (max-width: 600px){
    main{
        width: 100%;
    }
    
    h1{
        text-align: center;
    }

    nav{
        position: static;
        margin-right: auto;
    }

    .caja{
        width: 100%;
    }

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
    }
    .input_padron{
        display: block;
        margin-top: 10px;
        padding: 10px 25px;
        width: 80%;
        align-items: center;
    }

}